<img src="/assets/img/burger.jpg" width="200" height="200">


<h2>Eat-Da-Burger</h2>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      {{#each burger}}
      {{#unless this.devoured}}
      <div class="row">
        <div class="col-sm-6 left">
          {{!--
          <ul> --}} 
            <span>
              {{this.burger_name }}
            </span>
            <br> {{!-- </ul> --}}
        </div>
        <div class="col-sm-6 btn">
          <form>
            <button class="change-devoured" type="submit" data-id={{this.id}}>Devoured</button>
          </form>
          <br>
        </div>
      </div>
      {{/unless}}
      {{/each}}
    </div>

    <div class="col-sm-6 right">
      {{!-- <ul> --}}
        {{#each burger}} {{#if this.devoured}}
        <p>
          {{this.burger_name }}
        </p>
        <br>
        {{/if}} {{/each}}
      {{!-- </ul> --}}
    </div>
  </div>
</div>


<form class="create-form">

  <div class="form-group">
    <input type="text" id="burg" name="name">
  </div>


  <button type="submit">Submit</button>
</form>
<br>

<p>Enter a burger you want to eat Click the "Submit" button</p>